@import url('https://fonts.googleapis.com/css2? family=Poppins:ital,wght@0,200;1,100&display=swap');


*{
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#58E5D8, #305f99);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo{
    background:#305f99;
    margin: 0;
    height: 100px;
    padding: 20px;
    height: 100%; 

}

.container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    min-height: 100vh; 
    justify-content: space-between;

}

main{
    margin-left: 80px;
}

.input-texto{
    width: auto;
    height: 455px;
    margin-top: 50px;
    border: none;
    background: #fff;
    font-size: 20px;
    border: none;
    border-radius: 20px;

}

.info{
    margin-left: 15px;
}

.info img{
    width: 10px;
    height: 10px;
    margin-right: 3px;
    font-size: 16px; 
}

span{
    font-size: 12px;
}

.mensaje {
    position: relative;
    margin: 20px;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
    border: none; 
    text-align: center;
    border-radius: 20px;
}

.mensaje-box{
    background: #fff;
    height: 600px;
    margin: 50px;
    text-align: center;
    border-radius: 20px;
}

h4{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 50px;
}

.copiar{
    position: relative;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin: auto;
    background: #0f3e78;
    color: #fff;
}

button:hover{
    background: #58E5D8;
    transform: scale(1.1);
    transition: 1.5s all;
}

button{
    border-width : 1.5px;
    border: none;
    border-radius: 18px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: lighter;
    padding: 10px 50px;
    cursor: pointer;
    
}

.botones{
    width: 10%;;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border: 1px;
}

.encriptar{
    background-color:#0f3e78;
    color: #fff;
}

.desencriptar{
    margin-left: 30px;
}  

.copyright{
    width: 100%;
    text-align: center;
    padding: 40px;
    background: #305f99;
    color: #fff; 
    letter-spacing: 3px;
    font-size: 12px;
}   

@media screen and (max-width:480px){
    
    .container{
        justify-content: space-between;
        width: 100%;
        display: block;
        padding: 0;
        margin: auto;
    }  

    .input-texto{
        width: 95%;
        height: 300px;
        text-align: center;

    }

    .input-texto, .mensaje-box{
        margin-bottom: 30px;
        margin-right: 10px;
        margin-left: 10px;
        
    }

    .mensaje{
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }

    .info{
        margin-left: 10px;
    }

    button:hover{
        transform: scale(1.0);
    }

    .botones{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .encriptar{
        text-align: center;
        margin: 10px;
    }

    .desencriptar{
        text-align: center;
        margin: 10px;
    }

    .copiar{
        width: 80%;
        text-align: center;
        margin: auto;
    }

}